<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sinatra Projects</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body>
    <h1>Sinatra Projects</h1>

    <a href="/caesar_cipher">Caesar Cipher</a>
    <a href="/hangman">Hangman</a>

  </body>
</html>
